<nav id="header-nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand display-1" href="/">
        <a href="/" id="header-logo-link" class="php-dry-brand-font">
            <img
                    id="header-logo"
                    src="{{ asset('php-dry.svg') }}"
                    alt="The logo of php-dry: A T-shirt on a clothesline rope."
            >
            php-dry
        </a>
    </a>
</nav>